#title {
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 10px;
}
#teacher {
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 10px;
}
#active {
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 10px;
}
#hours {
    border-radius: 6px;
    margin-right: 10px;
    margin-left: 10px;
}
